[submodule "lib/sdl2-cmake-modules"]
	path = lib/sdl2-cmake-modules
	url = https://github.com/aminosbh/sdl2-cmake-modules
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
